.listCon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  gap: var(--fs33);
}

.more {
  font-size: var(--fs12);
  transition: color 0.3s;
}
.more:hover {
  color: var(--light-colors-accent-light);
  font-weight: bold;
}
.more::after {
  content: '\F138';
  font-family: 'bootstrap-icons';
  position: relative;
  transform: translateX(0);
  display: inline-block;
  transition: transform 0.3s;
}
.more:hover::after {
  transform: translateX(10px);
}
.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: var(--fs20);
}
.selectChoice {
  background: none;
  border: none; /* 테두리 */

  padding: 6px 12px; /* 여백 */
  font-size: 16px; /* 글자 크기 */
  color: #333; /* 글자색 */
  cursor: pointer;
}

/* 옵션에 호버 스타일도 줄 수 있어 */
.selectChoice:hover {
  background-color: #eaeaea;
}

@media (max-width: 660px) {
  .list {
    grid-template-columns: repeat(auto-fill, 1fr);
  }
}

.numberBtn button {
  border: none;
  background: none;
  margin: var(--fs8);
}
.numberBtn button:hover,
.numberBtn button.active {
  color: var(--light-colors-accent-light);
  scale: 1.2;
}
